name: Semgrep Scan

on:
  push:
  pull_request:
  
jobs:
  semgrep:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Run semgrep
        uses: returntocorp/semgrep-action@v1
        with:
          config: auto
